flows_localhost.json
[{"id":"a4b30f4a.2b173","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4697ffdc.a6468","type":"git-nodes-config","z":"","name":"Test","git":"git@github.com:vladosam/test_node.git"},{"id":"314a7d00.b75b74","type":"git-nodes","z":"a4b30f4a.2b173","label":"tseYT","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"4697ffdc.a6468","x":181.5,"y":67,"wires":[]},{"id":"239366bf.363d4a","type":"debug","z":"a4b30f4a.2b173","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":227.16707611083984,"y":152.99437522888184,"wires":[]},{"id":"bdb3f882.815a88","type":"inject","z":"a4b30f4a.2b173","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158.6999671909917,"y":251.04602510460253,"wires":[[]]}]